body {
    background: #761c19;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}

.container {
    margin: 0 50px 0 50px;
}


#header-nav {
    background-color: #67b168;
    border-radius: 0;
    border: 0;
    height: 190px;
}

#logo-img {
    background: url("images/restaurant-logo_large.png") no-repeat;
    height: 150px;
    width: 150px;
    margin: 20px 20px 20px 0;
}